[submodule "tests/QTestRunner"]
	path = tests/QTestRunner
	url = git@github.com:FACT-Team/QTestRunner.git
[submodule "documents/LaTexTemplate"]
	path = documents/LaTexTemplate
	url = git@github.com:FACT-Team/LaTexTemplate.git
