[submodule "tests/QTestRunner"]
	path = tests/QTestRunner
	url = https://github.com/FACT-Team/QTestRunner.git
[submodule "documents/LaTexTemplate"]
	path = documents/LaTexTemplate
	url = https://github.com/FACT-Team/LaTexTemplate.git
[submodule "fact-team.github.io"]
	path = fact-team.github.io
	url = https://github.com/FACT-Team/fact-team.github.io.git
[submodule "src/libs/qt-mustache"]
	path = src/libs/qt-mustache
	url = https://github.com/robertknight/qt-mustache.git
[submodule "documents/beamer-theme"]
	path = documents/beamer-theme
	url = https://github.com/aroquemaurel/beamer-theme.git
